*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #e0ffff;
    line-height: 50px;
    text-align: center;
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 1px solid silver;
    background-image: url(../images/timg2.jpg);
    padding: 10px;
}
.images1{
    width: 400px;
    height: 250px;
}
.title{
    color: deepskyblue;
    margin-top: 20px;
    padding-left: 30px;
    margin-bottom: 10px;

}
p{
    margin-top: 30px;
    margin-bottom: 30px;
}
.input1{
    width: 285px;
    height: 35px;
    
}
.btn{
    width: 100px;
    height: 35px;
    background-color: #7fffd4;
   
}